.bookDetails {
    flex: 0 0 33%;
}

.booksList {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    list-style: none;

    > li {
        margin: 1rem;

        .card {
            color: #000;
        }
        .card-body {
            height: 30rem;
        }
        .description {
            height: 90%;
            font-size: 1rem;
            overflow: hidden;
        }
    }
}

.card {
    margin-right: 1rem;
}
.cardImg {
    height: 15rem;
    width: 100%;
}